import os
import torch
from torch.nn import Linear
from torch_geometric.nn import GCNConv, global_mean_pool
from torch_geometric.data import Data, InMemoryDataset
from torch_geometric.loader import DataLoader
from rdkit import Chem
import pandas as pd
import numpy as np
import shutil
import streamlit as st
import base64
from rdkit.Chem import Draw, Descriptors, AllChem
from fpdf import FPDF
from datetime import datetime
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import roc_curve, auc